.wrapper {
    grid-area: whatsapp;
    background-color: var(--light-orange_color);
    & > div:first-child {
        border-bottom: 2px solid var(--dark-grey_color);
    }
    & > div:first-child > p {
        margin-top: 0;
    }
}
.list {
    padding: 20px 0;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gren_color);
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.data {
    font-size: var(--size-lg);
    font-weight: var(--weight-bold);
}