.numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
        padding: 20px;
        border-radius: var(--normal_radius);
        flex: 1;
        &:nth-child(1) {
            background-color: var(--light-blue_color);
            color: var(--main_color);
        }
        &:nth-child(2) {
            background-color: var(--light-green_color);
            color: var(--dark-green_color);
        }
        &:nth-child(3) {
            background-color: var(--light-purple_color);
            color: var(--purple_color);
        }
    }
    &__title {
        display: flex;
        align-items: center;
        span {
            margin-left: 5px;
        }
    }
    &__number {
        font-weight: var(--weight-bold);
        margin: 10px 0;
        display: block;
        font-size: var(--size-2xl);
    }
    &__text {
        font-size: var(--size-sm);
    }
}


// Responsive
@media screen and (max-width: 992px) {
    .numbers__item {
        align-self: stretch;
        min-width: 30%;
    }
}

@media screen and (max-width: 575px) {
    .numbers {
        gap: 15px;
    }
    .numbers__item {
        width: 100%;
        flex: none;
    }
}