.card {
    padding: 20px;
    background-color: var(--white_color);
    border-radius: var(--normal_radius);
    box-shadow: var( --main_shadow);
    height: 100%;
    &__title {
        text-align: center;
        display: flex;
        align-items: center;
        font-size: var(--size-md);
        font-weight: var(--weight-semibold);
        margin-bottom: 20px;
        svg {
            color: var(--main_color);
        }
        span {
            margin-left: 5px;
        }
    }
}

