.header {
    height: 61px;
    background-color: var(--white_color);
    border-bottom: 1px solid var(--ligh-grey_color);
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
}
.title {
    font-weight: var(--weight-semibold);
    font-size: var(--size-2xl);
    padding: 18.5px 20px;
}

.logout {
    font-weight: var(--weight-semibold);
    background: var(--menu-ligh_gradient);
    color: var(--dark-blue_color);
    margin-left: auto;
    margin-right: 20px;
    border-radius: var(--small_radius);
    &__icon {
        width: 20px;
        height: 20px;
    }
}

// Responsive
@media screen and (max-width: 768px) {
    .title {
        padding: 18.5px 10px;
    }
    .logout {
        margin-right: 10px;
    }
}