.filterControls {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background-color: var(--white_color);
    border-radius: var(--normal_radius);
    box-shadow: var(--main_shadow);
    border: 1px solid var(--ligh-grey_color);
}
.addButton {
    color: var(--white_color);
    font-weight: var(--weight_medium);
    border-radius: var(--small_radius);
    background-color: var(--main_color);
    min-width: 150px;
    padding: 9px;
}
.filters {
    display: flex;
    align-items: center;
    gap: 15px;
}
.dropdown {
    max-width: 120px;
}

// Responsive 
@media screen and (max-width: 992px) {
    .filterControls {
        flex-direction: column;
    }
    .filters {
        flex-wrap: wrap;
        justify-content: center;
    }
    .dropdown {
        max-width: unset;
        flex: 1;
    }
    .addButton {
        flex: 1;
    }
}