.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  &__title {
    font-size: var(--size-xl);
    font-weight: var(--weight-semibold);
    color: var(--black_color);
    margin-bottom: 6px;
  }

  &__subtitle {
    font-size: var(--size-md);
    color: var(--dark-grey_color);
  }
}

.btn {
  background-color: var(--main_color);
  color: var(--white_color);
  border-radius: var(--small_radius);
  font-weight: var(--weight-medium);
  display: flex;
  align-items: center;
  gap: 8px;

  &__icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 575px) {
  .header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}