:root {
    // Main Colors
    --main_color: #155DFC;
    --white_color: #fff;
    --black_color: #000;
    --red_color: #E7000B;
    --graphite_color: #364153;
    --green_color: #00C950;
    --orange_color: #FFD6A8;
    --purple_color: #9810FA;


    --dark-grey_color: #6B7280;
    --dark-blue_color: #113797;
    --dark-red_color: #82181A;
    --dark-orange_color: #F54900;
    --dark-green_color: #009966;

    --ligh-grey_color: #E5E7EB;
    --light-red_color: #FFC9C9;
    --light-orange_color: #FFF7ED;
    --light-green_color: #B9F8CF;
    --light-blue_color: #DBEAFE;
    --light-purple_color: #F3E8FF;

    // Backgrounds
    --light_bg: #F9FAFB;


    // Gradients
    --blue_gradient: linear-gradient(135deg, #84CEEB 0%, #5680E9 100%);
    --dark-blue_gradient: linear-gradient(135deg, #5680E9 0%, #304883 100%);
    --menu_gradient: linear-gradient(135deg, #c1dcff 0%, #e3c8ff 100%);
    --menu-ligh_gradient: linear-gradient(135deg, #c3e7f5 0%, #d3d0fb 100%);
    --purple_gradient: linear-gradient(135deg, #155DFC 0%, #9810FA 100%);
    --pink_gradient: linear-gradient(135deg, #BF2BFF 0%, #DB0063 100%);
    --orange_gradient: linear-gradient(135deg, #FFE32B 0%, #DB1A00 100%);
}